In [1]:
import pandas as pd
import os
import re

In [2]:
### SID chart ###
df_path = "C:\\Users\esrikr\\GitHub\\RAT-Korea Airport Corporation\\KACData\\[첨부2]SID chart.xlsx"

### Set First DataFrame ###
df = pd.read_excel(df_path, sheet_name='Sheet1', header=2)
dropCol = list(range(3))
df = df.drop(df.columns[dropCol], axis=1)
df.head()

,Waypoint Identifier,Coordinates,AIRPORT,Chart Name,Procedure name,REPORTING\nFLY-BY/FLY-OVER,On request fly-by(1)\nCompulsory fly-by(2)\nOn request flyover(3)\nCompulsoryflyover(4),Fly-over,Course/Track,distance(NM),Turn direction,Altitude(ft),Speed(kt),VPA/RDH,Navigation specification,Remark
0,CG050,"37°22'18.4""N 126°35'07.0""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,15L-140(131.3)\n15R-138(129.7),7.7,R,-5 000,NaN,NaN,RNAV 1,NaN
1,CG100,"37°16'16.3""N 126°37'43.8""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,169 (160.9),6.4,-,-10 000,NaN,NaN,RNAV 1,NaN
2,CP100,"37°08'11.8""N 126°30'35.8""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,224 (215.3),9.9,-,NaN,NaN,NaN,RNAV 1,NaN
3,HP100,"37°08'07.8""N 126°21'03.5""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,278 (269.6),7.6,-,-10 000,NaN,NaN,RNAV 1,NaN
4,HP120,"37°07'59.2""N 126°04'48.1""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,278 (269.5),13.0,-,+12 000,NaN,NaN,RNAV 1,NaN

In [11]:
coords = df["Coordinates"]

### Get latitude longitude from Coordinates column ###
Ncoords = []
Ecoords = []

for coord in coords:
    Nindex = coord.find("N")
    Eindex = coord.find("E")

    Nval = re.sub(r'[^0-9.]', '', coord[0:Nindex]) #N앞 숫자와 .만 추출
    Eval = re.sub(r'[^0-9.]', '', coord[Nindex+1:Eindex]) #N과 E사이 숫자와 .만 추출
    Ncoords.append(Nval)
    Ecoords.append(Eval)

### Create new columns to store coordinate ###
newdf = df
newdf["latitude"] = Ncoords
newdf["longitude"] = Ecoords

newdf.head()

,Waypoint Identifier,Coordinates,AIRPORT,Chart Name,Procedure name,REPORTING\nFLY-BY/FLY-OVER,On request fly-by(1)\nCompulsory fly-by(2)\nOn request flyover(3)\nCompulsoryflyover(4),Fly-over,Course/Track,distance(NM),Turn direction,Altitude(ft),Speed(kt),VPA/RDH,Navigation specification,Remark,latitude,longitude
0,CG050,"37°22'18.4""N 126°35'07.0""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,15L-140(131.3)\n15R-138(129.7),7.7,R,-5 000,NaN,NaN,RNAV 1,NaN,372218.4,1263507.0
1,CG100,"37°16'16.3""N 126°37'43.8""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,169 (160.9),6.4,-,-10 000,NaN,NaN,RNAV 1,NaN,371616.3,1263743.8
2,CP100,"37°08'11.8""N 126°30'35.8""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,224 (215.3),9.9,-,NaN,NaN,NaN,RNAV 1,NaN,370811.8,1263035.8
3,HP100,"37°08'07.8""N 126°21'03.5""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,278 (269.6),7.6,-,-10 000,NaN,NaN,RNAV 1,NaN,370807.8,1262103.5
4,HP120,"37°07'59.2""N 126°04'48.1""E",RKSI,SID,RNAV BINIL 2C,Waypoint,1,-,278 (269.5),13.0,-,+12 000,NaN,NaN,RNAV 1,NaN,370759.2,1260448.1

In [12]:
### Export to CSV ###
csv_path = df_path[0:-5]+"_new"+".csv"
newdf.to_csv(csv_path, sep=',')