In [6]:
import pandas as pd
import os
import re

In [7]:
### 공역 정보 ###
df_path = "C:\\Users\esrikr\\GitHub\\RAT-Korea Airport Corporation\\KACData\\[첨부1]공역정보.xlsx"

### Set First DataFrame ###
df = pd.read_excel(df_path, sheet_name='Sheet1', header=4) 
dropCol = list(range(6))
df = df.drop(df.columns[dropCol], axis=1)
df.head()

,Identification,name,lateral limits,Upper limit/Lower limit
0,RK R88,SEO-HAE-BUK-BU,370421N 1245000E - 370508N 1253600E-\n363500N ...,FL 400/GND
1,RK R124,DEOKJUKDO,370600N 1254200E - 370600N 1261000E -\n365500N...,2 500/GND

In [10]:
### Get df value ###
identification = df["Identification"]
name = df["name"]
uplow_limits = df["Upper limit/Lower limit"]

lineCol = df["lateral limits"]

## Split multi coordinate to multi rows  ###
lst = []

for i in range(0, len(lineCol)):
    splitCol = lineCol[i].split('-') #-기준 분할
    
    for coord in splitCol:
        Nindex = coord.find("N")
        Eindex = coord.find("E")
        if Nindex==-1 or Eindex ==-1:
            continue
        
        Nval = re.sub(r'[^0-9]', '', coord[0:Nindex]) #N앞 숫자만 추출
        Eval = re.sub(r'[^0-9]', '', coord[Nindex+1:Eindex]) #N과 E사이 숫자만 추출
        rowval = [identification[i], name[i], Nval, Eval, uplow_limits[i]]
        
        #print("rowval in",i, rowval)
        lst.append(rowval)

newdf = pd.DataFrame(lst, columns=["Identification", "name", "latitude", "longitude", "Upper limit/Lower limit"])
newdf

  Identification            name latitude longitude Upper limit/Lower limit
0         RK R88  SEO-HAE-BUK-BU   370421   1245000              FL 400/GND
1         RK R88  SEO-HAE-BUK-BU   370508   1253600              FL 400/GND
2         RK R88  SEO-HAE-BUK-BU   363500   1253600              FL 400/GND
3         RK R88  SEO-HAE-BUK-BU   363500   1245000              FL 400/GND
4        RK R124       DEOKJUKDO   370600   1254200               2 500/GND
5        RK R124       DEOKJUKDO   370600   1261000               2 500/GND
6        RK R124       DEOKJUKDO   365500   1255700               2 500/GND
7        RK R124       DEOKJUKDO   365500   1254200               2 500/GND

In [11]:
### Export to CSV ###
csv_path = df_path[0:-5]+"_new"+".csv"
newdf.to_csv(csv_path, sep=',')